<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h1 class="mb-4">Crear Catálogo</h1>
      <%= simple_form_for [:admin, @catalogo], url: admin_categoria_catalogos_path(@categoria) do |f| %>
        <div class="form-group">
          <%= f.input :nombre, input_html: { class: 'form-control form-control-sm', placeholder: 'Nombre del Catálogo', required: true } %>
        </div>


        <%= f.button :submit, 'Guardar', class: 'btn btn-primary btn-sm' %>
      <% end %>
    </div>
  </div>
</div>
