<h1>Lista de productos</h1>

<table class= "table">
  <thead class="table table-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'productos' %>
  </tbody>
  
</table>

<%= link_to "Crear producto", new_categoria_producto_path%>