<h1>Producto</h1>
<p>Find me in app/views/categorias/productos/show.html.erb</p>
<h3>Información del producto</h3>

<table>
  <tr>
    <td>Id</td>
    <td>nombre</td>
    <td>cantidad</td>
  </tr>
  <tr>
    <td><%= @producto.id %></td>
    <td><%= @producto.nombre %></td>
    <td><%= @producto.descripcion %></td>
  </tr>
</table>