<h1>Lista de productos </h1>

<div class="container">
  <div class="row">
    <% @catalogos.each do |catalogo| %>
      <% catalogo.categorias.each do |categoria| %>
        <% categoria.productos.each do |producto| %>
          <div class="col-md-4 mb-4">
            <div class="card border-rounded">
              <%= image_tag producto.avatar.url, class: "card-img-top img-fluid" %>
              <div class="card-body">
                <h5 class="card-title"><%= producto.nombre %></h5>
                <p class="card-text"><%= producto.descripcion %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "Ver detalles", categoria_producto_path(categoria, producto), class: "btn btn-warning" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
