<div class="lista-productos">
  <% @productos_ultimos.each do |producto| %>
    <div class="card" style="width: 18rem;">
      <%= image_tag(producto.avatar_url) if producto.avatar? %>
      <div class="card-body">
        <h5 class="card-title">
          <%= producto.nombre %>
        </h5>
        <p class="card-text">
          <%= producto.descripcion %> 
        </p>
        <a href="#" class="btn btn-primary">Ver mas</a>
      </div>
    </div>
  <% end %>
</div>