<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bienvenido al administador de Créditos3A</h1>
    <p class="lead">Gestione la pagina de una manera fácil y eficiente.</p>
  </div>
</div>

