<h1>Lista de Categorías</h1>

<div class="container">
  <div class="row">
    <% @categorias.each do |categoria| %>
      <div class="col-md-4 mb-4">
        <div class="card border-rounded">
          <div class="card-body">
          <% if categoria.imagen.attached? %>
            <%= image_tag categoria.imagen, class: "card-img-top img-thumbnail", alt: categoria.nombre %>
          <% end %>

            <h5 class="card-title"><%= categoria.nombre %></h5>
            <%= link_to "Ver Productos", pages_categoria_productos_path(categoria), class: "btn btn-secondary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
