@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color: #c7a17a;
	--background-color: #f9f5f0;
	--dark-color: #151515;
}
html.producto {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}


.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container1-logon1 {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container1-logon1 i {
	font-size: 3rem;
}

.container1-logon1 h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 2rem;
	cursor: pointer;
    height: 3.5rem;

}
.container-user a{
	text-decoration: none;
	color: #fff;
	background-color: #807CB9;
	display: inline-block;
	padding: 1rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
    align-items: center;
}
.container-user .fa-basket-shopping {
	font-size: 3rem;
	color: var(--primary-color);
	padding-left: 1rem;
}
.imagen-icono1 {
    display: flex;
	gap: 1rem;
	cursor: pointer;
    height: 4rem;

    
}

.content-shopping-cart {
	display: flex;
	flex-direction: column;
}








/* ************* NAVBAR ************* */
.nav1 {
	background-color: #807CB9;
    
}

.nava2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.5rem 0;
}

.nava2 .fa-bars {
	display: none;
    
}

.menu1 {
	display: flex;
	gap: 8rem;
    flex-direction:row;
    background-color: #807CB9;
    left: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
    margin-top: 1rem;
    margin-left: 25rem;
}

.menu1 li {
	list-style: none;
    
}

.menu1.active {
    display: flex;
    background-color: #807CB9;
    align-items: center;
}


.menu1 a {
	text-decoration: none;
	font-size: 1.5rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
    text-align: center;
    
}

.menu1 a::after {
	content: '';
	width: 1.5rem;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu1 a:hover::after {
	opacity: 1;
}

.menu1 a:hover {
	color: #fff;
}


 




/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner1 {
	background-image: linear-gradient(100deg, #000000, #00000020);
	height: 50rem;
	background-size: cover;
	background-position: center;
    display: flex;
    overflow: hidden;
    position: relative;
    text-shadow: 15px 15px 10px rgba(0, 0, 0, 0.8); /* Añade una sombra al texto */
    font-size: 10px; /* Tamaño de fuente más grande */
    font-weight: bold; 
}
.banner1 img{
  width: 100%;
  height: auto;
}

.content-banner1 {
    position: absolute;
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
}

.content-banner1 p {
	font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
	font-size: 2rem;
	margin-bottom: 1rem;
	font-weight: 500;
    margin-left: 10rem;
    color: rgb(10, 6, 0);
}

.content-banner1 h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
    margin-left: 10rem;
}

.content-banner1 a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: #807CB9;
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
    margin-left: 10rem;
}

@media (max-width: 768px) {
    html.producto {
        font-size: 55%;
    }

    .hero {
        padding: 2rem;
    }

    .customer-support {
        display: none;
    }

    .content-shopping-cart {
        display: none;
    }

    .nav1 {
        padding: 1rem 2rem;
    }

    .nava2 .fa-bars {
            display: block;
            color: #fff;
            font-size: 3rem;
        
    }
        .menu1 {
            display:none;
            flex-direction: column; /* Cambia la dirección a columna para apilar los elementos */
            background-color: #807CB9; /* Agrega un fondo al menú de hamburguesa */
            left: 0;
            width: 100%;
            z-index: 2;
        }
    
        .menu1.active {
            display: flex;
            background-color: #807CB9;
            margin: 0%;
            padding: 0%;
        }
        
        .menu1 li {
            margin: 1rem 0; /* Ajusta el espaciado entre elementos del menú */
           
        }
    
        .menu1 a {
            color: #fff; /* Cambia el color de texto del menú de hamburguesa */
        
        }
    

    .content-banner1 {
        max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
    }
   
}







 /* otros estilos */

 .contenedor-pequeno {
    text-align: justify;
    line-height: 2em;
    background: #f4f4f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Evita que la imagen se desborde del contenedor */
    max-height: 300px;
    color: #fff;
    border-radius: 0px;
    border-top: 0px;
    background-size: cover;
    border-left: 0px;
    height: 300px;
    max-width: 100%;
    margin: 0 auto;
}

.contenedor-pequeno img {
    max-width: 100%; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
    height: auto; /* Mantiene la relación de aspecto original de la imagen */
    vertical-align: middle; /* Centra verticalmente la imagen */
}
.box1 {
    color: black;
    font-family:'Times New Roman', Times, serif;
}

.categoria-box h2 {
    color: black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    text-align: center;
    margin: 0 auto;
    color: rgb(0, 0, 0);
}

.smaller-input {
    width: 50px; /* Ajusta el ancho según tus necesidades */
    display: flex;
}

.smaller-button {
    width: 70px; /* Ajusta el ancho según tus necesidades */
    font-size: 12px; /* Ajusta el tamaño de fuente según tus necesidades */
    height: 40px;
    display: flex;
}

.categoria-box {
    border: 1px solid black;
    color: #321d70;
}
.texto {
    text-align: center;
    
}

.img-fluid {
    max-width: 100%; /* Evita que la imagen se desborde del contenedor */
    height: auto; /* Mantiene la relación de aspecto original de la imagen */
}






/* otros estilos */

.contenedorgrande {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: white;
}

.titulo-llamativo {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #807CB9;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    position: relative; /* Añade una posición relativa al elemento */

    /* Ancho y centrado del título */
    width: 80%;
    margin: 0 auto;
}

.titulo-llamativo::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Centra la línea horizontal */
    transform: translateX(-50%);
    width: 90%; /* Ajusta el ancho de la línea */
    border-bottom: 2px solid #807CB9; /* Establece el estilo del borde */
}







/* Estilos CSS para las tarjetas de producto con rotación */
.tarjeta {
    width: 300px;
    height: 200px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    margin-left: 50px;
    
    
}

.overlay {
    width: 100%; /* Cambia a 100% para ocupar todo el ancho de la tarjeta */
    height: 100%; /* Cambia a 100% para ocupar todo el alto de la tarjeta */
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Cambia a 100% para ocupar todo el ancho de la tarjeta */
    height: 100%; /* Cambia a 100% para ocupar todo el alto de la tarjeta */
    background-color: rgba(3, 35, 54, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    transform: rotateY(180deg);
}


.tarjeta:hover .overlay {
    transform: rotateY(180deg);
}

.overlay img {
    
    width: 100%; /* Ancho fijo */
    height: 100%; /* Alto fijo */
    object-fit: contain;
}



.tarjeta:hover .text-overlay {
    opacity: 1;
}

.text-overlay h3 {
    font-size: 30px;
    color: #fff;
    margin-top: 20px;
}

.text-overlay p {
    color: #f3f3f3;
    letter-spacing: 1px;
}

.text-overlay a {
    color: #f3f3f3;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #f3f3f3;
    transition: background-color 0.3s, color 0.3s;
}

.text-overlay a:hover {
    background-color: #f3f3f3;
    color: #333;
}





/* pie de pagina */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

footer {
    display: flex;
    flex-direction: column;
    background: #6A5F8E;
    height: auto; /* Cambia el porcentaje a "auto" o un valor fijo en píxeles */
    
}

.cajita {
    display: flex;
    flex-wrap: wrap; /* Asegura que los elementos se envuelvan en pantallas más pequeñas */
    justify-content: center; /* Centra los elementos horizontalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 1140px; /* Limita el ancho a 1140px */
    margin: 0 auto; /* Centra el contenido */
}

.footer-contigo {
    flex: 1; /* Ocupa el espacio disponible en dispositivos móviles */
    padding: 10px;
    text-align: center; /* Centra el contenido */
}

h3 {
    font-size: 24px; /* Ajusta el tamaño del título */
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif; /* Cambia la fuente */
}

.footer-contigo p {
    padding: 7px;
    font-size: 16px; /* Ajusta el tamaño del texto */
    color: white;
}

.list {
    padding: 0;
}

.list li {
    list-style-type: none;
    padding: 7px;
    color: #1f1d1d;
    position: relative;
    text-align: center;
}
.list li a{
    font-size: 16px;
    color: white;
}

.list li::before {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background: #f18930;
    transition-duration: .5s;
}

.list li:hover::before {
    width: 70px;
}

.enlace-negro {
    color: #1f1d1d; /* Código de color negro */
    text-decoration: none;
}

.social-icons {
    text-align: center;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.social-icons i {
    color: white;
    font-size: 25px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #f18930;
}

.social-icons i:hover {
    color: #f18930;
}

.bottom-bar {
    background: #423271;
    text-align: center;
    width: auto;
    margin-bottom: 0%;
    padding: 12px;
}

.bottom-bar p {
    color: #fff;
    margin: 0;
    font-size: 14px; /* Ajusta el tamaño del texto */

}