<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
                <div class="form-group">
                </div>
            </form>
            <p>
            Último release: V.1.5
            </p>

        </div>
        <ul class="nav navbar-top-links navbar-right">
        <% if user_signed_in? %>
     
        <li class="d-flex align-items-center">
        <%= link_to "Descargar Manual", "/dashboard/descargar_manual.pdf", download: "manual.pdf" %>
        <i class="fa fa-download"></i>
        </li>
          <li class="d-flex align-items-center">
          <%= link_to "#{current_user.first_name} #{current_user.last_name_1}", user_profile_path %>
          <i class="fa fa-user mr-2"></i>
          </li>
          <li class="d-flex align-items-center">
          <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %>
          <i class="fa fa-sign-out mr-2"></i> <!-- Utiliza "mr-2" para agregar un poco de espacio entre el ícono y el texto -->
          </li>
          </li>
          <li class="d-flex align-items-center">
        

        <% end %>
      </ul>
    </nav>
</div>
