<!DOCTYPE html>
<head>
  <title>creditos3A</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  
</head>
  <body>
  <%= yield %>
 </body>
</html>