<div class="container">
<h1 class="mb-4">Categorías</h1>
<div>
<%= link_to "Agregar Categoría", new_admin_categoria_path, class: "btn btn-success" %>
</div>
<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col"></th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <%= render 'categorias', categorias: @categorias %>
  </tbody>
</table>

</div>
