<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="somos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<main class="main">
    <div class="head">
        <div class="logo">
            <div class="contenedorLogoParte1">
                <%= image_tag "logo-blanco-pt-1.png", class: "logoParte1" %>
            </div>
            <div class="contenedorLogoParte2">
                <%= image_tag "logo-blanco-pt-2.png", class: "logoParte2" %>
            </div>
        </div>
        <nav class="navbar">
            <a href=""> Inicio</a>  
            <a href="<%= new_contactopqrs_path %>">Contacto</a>
            <a href="<%= catalogos_path %>" class="nav-link">Productos</a>
        </nav>
    </div>
    <section class="carrusel">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/sof1.avif" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                <p class="font-weight-bold texto-blanco">Nuestros muebles son de alta calidad para la comodidad del cliente</p>
            </div>
            
            </div>
            <div class="carousel-item">
                <img src="images/electrodo.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                   
                </div>
            </div>
            <div class="carousel-item">
                <img src="images/cama2.avif" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    
                </div>
            </div>
        </div>
        
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <section class="nosotros">
    <h2 class="text-center">Quienes somos</h2>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <p> Vision: Ser la principal elección de las familias en busca de comodidad y calidad para sus hogares. Nos esforzamos por ser reconocidos como líderes en la industria de muebles, electrodomésticos, camas y colchones, ofreciendo soluciones accesibles y flexibles que mejoren la calidad de vida de nuestros clientes</p>
                <p>Mision: En nuestra empresa, nos comprometemos a brindar a nuestros clientes productos de alta calidad y la comodidad que merecen en sus hogares. Nos esforzamos por ofrecer una amplia gama de opciones de muebles, electrodomésticos, camas y colchones, con la flexibilidad de pago que necesitan, para que puedan crear el hogar de sus sueños sin preocupaciones financieras.</p>
            </div>
            <div class="col-6">
                <img class="img-fluid" src="images/hola.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section class="segunda">
    <h2 class="text-center">Nuestros servicios</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card text-center" style="width: 20rem;">
                    <img src="images/servi.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Atencion al cliente</h5>
                        <p class="card-text">Nuestro compromiso es brindarte la mejor atención al cliente. Estamos aquí para responder a tus preguntas, resolver tus dudad y proporcionarte asesoramiento personalizado.</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card text-center" style="width: 20rem;">
                    <img src="images/servi1.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Garantias</h5>
                        <p class="card-text">En Perspectiva Moma respaldamos la calidad de nuestros productos con una sólida garantía. Nuestros productos están fabricados con los más altos estándares de calidad</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="card text-center" style="width: 20rem;">
                    <img src="/images/servi2.avif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Envios</h5>
                        <p class="card-text">En Perspectiva Moma respaldamos la calidad de nuestros productos con una sólida garantía. Nuestros productos están fabricados con los más altos estándares de calidad</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


    <section class="abajo-cover">
    <div class="box-container">
        <div class="box">
            <i class="fab fa-regular fa-telegram"></i>
            <p>creditos3a@correo.com</p> <!-- Agrega el texto del teléfono aquí -->
        </div>
        <div class="box">
            <i class="fab fa-whatsapp"></i>
            <p>+57-3046183844</p> <!-- Agrega el texto del correo aquí -->
        </div>
    </div>
</section>


</main>
</body>
</html>














