<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Nuevo PQRS</title>
</head>
<body>
  <h1>Nuevo PQRS</h1>
  <p>Se ha recibido un nuevo PQRS:</p>
  <p>Nombre: <%= @pqrs.nombre %></p>
  <p>Email: <%= @pqrs.email %></p>
  <p>Asunto: <%= @pqrs.asunto %></p>
  <p>Mensaje: <%= @pqrs.mensaje %></p>
</body>
</html>
